<html>
<head>
    <title>Hostel Detail</title>
</head>
<body>
  <p></p>
  <h1 style="text-align: center;"><strong>Hostel </strong>Registration&nbsp;</h1>
  <form action="/hostel" method="POST">
  <table style="width: 570px; height: 417px; margin-left: auto; margin-right: auto;" border="2" cellspacing="2">
  <tbody>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Hostel Name:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="name" type="Text" placeholder="Name" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Breakfast Start Timing:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="breakfastStartTime" type="Text" placeholder="Start time" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Breakfast End Timing:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="breakfastFinishTime" type="Text" placeholder="End time" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Lunch Start Timing:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="lunchStartTime" type="Text" placeholder="Start time" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Lunch End Timing:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="lunchEndTime" type="Text" placeholder="End time" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Dinner Start Timing:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="dinnerStartTime" type="Text" placeholder="Start time" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Dinner End Timing:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="dinnerEndTime" type="Text" placeholder="End time" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Breakfast Charges:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="breakfastCharges" type="Text" placeholder="In Rupees" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Lunch Charges:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="lunchCharges" type="Text" placeholder="In Rupees" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Dinner Charges:</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="dinnerCharges" type="Text" placeholder="In Rupees" /></td>
  </tr>
  <tr>
  <td style="width: 238.167px; text-align: center;"><span style="color: #ff9900;">Mess Advance:&nbsp;</span></td>
  <td style="width: 313.833px; text-align: center;"><input name="currentBillAdvance" type="Text" placeholder="Mess Semester fee In Rupees" /></td>
  </tr>
  </tbody>
  </table>
  <p style="text-align: center;">&nbsp; &nbsp;&nbsp;<input name="" type="Submit" value="Submit" /></p>
  </form>
</body>
</html>
