<html>
<head>
    <title>Hostel Data Update</title>
</head>
<body>
  <h1 style="text-align: center;"><strong>Hostel </strong><strong>Mess </strong>Registration&nbsp;</h1>
<form action="/update/hostel" method="POST">
<table style="width: 443px; height: 97px; margin-left: auto; margin-right: auto;" border="2" cellspacing="2">
<tbody>
<tr>
<td style="width: 188px;">Hostel ID:</td>
<td style="width: 248px;"><input name="id" type="Text" placeholder="Id of Hostel" /></td>
</tr>
<tr>
<td style="width: 188px;">Breakfast Start Timing:</td>
<td style="width: 248px;"><input name="breakfastStartTime" type="Text" placeholder="Start time" /></td>
</tr>
<tr>
<td style="width: 188px;">Breakfast End Timing:</td>
<td style="width: 248px;"><input name="breakfastFinishTime" type="Text" placeholder="End time" /></td>
</tr>
<tr>
<td style="width: 188px;">Lunch Start Timing:</td>
<td style="width: 248px;"><input name="lunchStartTime" type="Text" placeholder="Start time" /></td>
</tr>
<tr>
<td style="width: 188px;">Lunch End Timing:</td>
<td style="width: 248px;"><input name="lunchEndTime" type="Text" placeholder="End time" /></td>
</tr>
<tr>
<td style="width: 188px;">Dinner Start Timing:</td>
<td style="width: 248px;"><input name="dinnerStartTime" type="Text" placeholder="Start time" /></td>
</tr>
<tr>
<td style="width: 188px;">Dinner End Timing:</td>
<td style="width: 248px;"><input name="dinnerEndTime" type="Text" placeholder="End time" /></td>
</tr>
<tr>
<td style="width: 188px;">Breakfast Charges:</td>
<td style="width: 248px;"><input name="breakfastCharges" type="Text" placeholder="In Rupees" /></td>
</tr>
<tr>
<td style="width: 188px;">Lunch Charges:</td>
<td style="width: 248px;"><input name="lunchCharges" type="Text" placeholder="In Rupees" /></td>
</tr>
<tr>
<td style="width: 188px;">Dinner Charges:</td>
<td style="width: 248px;"><input name="dinnerCharges" type="Text" placeholder="In Rupees" /></td>
</tr>
<tr>
<td style="width: 188px;">Mess Advance:&nbsp;</td>
<td style="width: 248px;"><input name="currentBillAdvance" type="Text" placeholder="Mess Semester fee In Rupees" /></td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp; &nbsp;&nbsp;<input name="" type="Submit" value="Submit" /></p>
</form>
</body>
</html>
