<html>
<head>
    <title>Hostel Record</title>
</head>
<body>
  <h1 style="text-align: center;"><span style="text-decoration: underline;"><strong>Hostel </strong>Record</span>&nbsp;</h1>
<form action="/record/hostel" method="POST">
<table style="width: 773px; height: 301px; margin-left: auto; margin-right: auto;" border="2" cellspacing="2">
<tbody>
<tr>
<td style="width: 219.267px;">
<h3 style="text-align: center;"><span style="color: #ff9900;">Hostel Id</span></h3>
</td>
<td style="width: 535.733px; text-align: center;"><input name="hostelId" type="Text" placeholder="Hostel Id" /></td>
</tr>
<tr>
<td style="width: 219.267px;">
<h3 style="text-align: center;"><span style="color: #ff9900;">Date</span></h3>
</td>
<td style="width: 535.733px; text-align: center;"><input name="date" type="date" /></td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="background-color: #ffffff;">&nbsp;<input name="" type="Submit" value="Submit" /></span></p>
</form>
</body>
</html>
