<html>
<head>
    <title>Student Data</title>
</head>
<body>
    <form action="/student" method="POST">
        <input type="text" name="name" placeholder="Name of The Student"><br/>
        <input type="text" name="rollno" placeholder="Roll Number of The Student"><br/>
        <input type="text" name="email" placeholder="Email of The Student"><br/>
        <input type="text" name="hostelId" placeholder="Hostel Identity of The Student"><br/>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
