<html>
<head>
    <title>Student Data</title>
</head>
<body>
  <p style="text-align: center;"></p>
  <h1 style="text-align: center;"><span style="text-decoration: underline;"><strong>Student </strong>Registration</span>&nbsp;</h1>
  <form action="/student" method="POST">
  <table style="width: 545px; margin-left: auto; margin-right: auto; height: 203px;" border="2" cellspacing="2">
  <tbody>
  <tr>
  <td style="width: 111.5px; text-align: center;"><span style="color: #ff9900;">Name:</span></td>
  <td style="width: 415.5px; text-align: center;"><input name="name" type="Text" placeholder="Name" /></td>
  </tr>
  <tr>
  <td style="width: 111.5px; text-align: center;"><span style="color: #ff9900;">Roll No:</span></td>
  <td style="width: 415.5px; text-align: center;"><input name="rollno" type="Text" placeholder="Roll No" /></td>
  </tr>
  <tr>
  <td style="width: 111.5px; text-align: center;"><span style="color: #ff9900;">Email ID</span></td>
  <td style="width: 415.5px; text-align: center;"><input name="email" type="Text" placeholder="Enter Email ID" /></td>
  </tr>
  <tr>
  <td style="width: 111.5px; text-align: center;"><span style="color: #ff9900;">Hostel Id</span></td>
  <td style="width: 415.5px; text-align: center;"><input name="hostelId" type="Text" placeholder="Enter Email ID" /></td>
  </tr>
  </tbody>
  </table>
  <p style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <span style="background-color: #ffffff;"><input name="" type="Submit" value="Submit" /></span></p>
  </form>
</body>
</html>
